@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@200&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgb(255, 144, 188) 25%,
        rgb(255, 192, 217) 40%,
        rgb(249, 249, 224) 70%,
        rgb(138, 205, 215) 100%
    );
    font-family: 'Cookie', cursive;
    font-size: 1.5rem;
}

#seleccionar-food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #742b4850;
    padding: 30px;
    border-radius: 20px;
}

.titulo{
    color: white;
    font-size: 5rem;
}
.subtitulo{
    color: white;
    font-size: 3rem;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 150px;
    height: 150px;
    background: #FFC0D9;
    padding: 10px;
    box-sizing: border-box;
    margin:10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.tarjeta-de-mokepon img {
    width: 100px;
    height: 100px;
}